<head>
    <style>
        .centered-red-background {
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            margin-top: 4px;
        }

        .centered-red-background h1 {
            color: white;
            text-align: center;
        }
    </style>
</head>
<section>
    {{#if userName}}
    <button id="logout" type="button" onclick="location.href='/auth/logout'">Log out</button>
    <div class="centered-red-background">
        <h1>{{role}}</h1>
    </div>
    <p>Bienvenido, {{userName}}!</p>

    <h2>registre su producto</h2>
    <form id="formProducts">
        <div>
            <label for="">ingrese el nombre de su producto</label>
            <input type="text" name="title" />
        </div>
        <div>
            <label for="">ingrese el precio de su producto</label>
            <input type="text" name="price" />
        </div>
        <div>
            <label for="">ingrese el stock del producto</label>
            <input type="number" name="stock" />
        </div>
        <div>
            <label for="">ingrese la url a la imagen de su producto</label>
            <input type="text" name="thumbnail" />
        </div>
        <div>
            <label for="">ingrese el code de su producto</label>
            <input type="text" name="code" />
        </div>
        <div>
            <label for="">ingrese la descripcion de su producto</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="enviar" />
    </form>
</section>

<div id="updateProducts">

</div>

<div id="contenedorProductos">
</div>
<h1>Chat Coderhouse</h1>
<div>
    <input id="chatBox" />
</div>
<div>
    <p id="messageLogs"></p>
</div>

<input id="carritoId" type="text" placeholder="ID del carrito" />
<button id="verCarrito" type="button">Ver Carrito</button>
<div id="carrito" class="cart-button"></div>


{{else}}
<h1>Bienvenido a mi e-commerce!</h1>

<button id="login" type="button" onclick="location.href='/auth/login'">Log in</button>
<button id="login" type="button" onclick="location.href='/auth/register'">Registrarse</button>
{{/if}}


<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="../javascript/main.js"></script>